
        <div class="row">
            <section class="main col-md-9">
                <article>
                    <h2>About</h2>
                    <p>Hi There,

                        My name is MD Habibor Rahman Hira and I'm currently studying Computer Programming at Seneca College of Applied Arts & Technology. My Interests are everything related to HTML, JavaScript and CSS and I'm currently in the process of mastering the MEAN stack. It's my goal to become a full-steak JavaScript developer and continue to lean and expand my experience to include all the amazing new dev tools, enviroments, libraries, workflows and design methodlogies available to the full-stack / MEAN developer community.
                        
                        Enjoy browsing my app! If you have any questios, or are in need of a JS dev for your project, I can be found at [hmd-habibor-rahman@myseneca.ca].
                        
                        Sincerely,
                        
                        MD Habibor Rahman Hira</p>
                </article>
            </section>
            <aside class="col-md-3">
                <h2>Coming Soon</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis
                    pharetra.</p>
            </aside>
        </div>
    </div>
